@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #222222;
  --color-secondary: #7b7b7b;
  --color-tertiary: #f8f8f8;
  --color-white: #ffffff;
  --font-main: "Workbench", sans-serif;
  --font-secondary: "Atkinson Hyperlegible Next", sans-serif;
  --font-tertiary: "Press Start 2P", cursive;
  --color-border: rgb(209, 213, 219);
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

@utility font-main {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  font-size: 3.5rem;
}
@utility font-secondary {
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
@utility font-tertiary {
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.border-box {
  padding: 70px 16px;
  width: 90%;
  margin: auto;
  position: relative;
  text-align: center;
  background-color: var(--color-tertiary);
  margin-top: 0px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}
.border-box::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -10vw;
  width: 110vw;
  height: 1px;
  background-color: lab(85 -0.76 -4.09);
}

.border-box::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: -10vw;
  width: 110vw;
  height: 1px;
  background-color: lab(85 -0.76 -4.09);
}

.section-title {
  font-family: var(--font-main);
  font-size: 2rem;
  font-weight: 800;
  color: lab(26.8019% 1.35387 -4.68303);
  position: absolute;
  top: 25px;
  left: 10px;
  z-index: 3;
  background-color: var(--color-tertiary) !important;
}

@media (max-width: 768px) {
  .border-box {
    padding: 55px 16px !important;
  }
  .border-box::after {
    top: 25px;
  }

  .border-box::before {
    bottom: 25px;
  }

  .section-title {
    font-size: 2rem !important;
    top: 0px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
  }
}
